.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	.slick-track {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	&:before {
		display: table;
		content: '';
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}
.slick-loading {
	.slick-track {
		visibility: hidden;
	}
	.slick-slide {
		visibility: hidden;
	}
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	a {
		display: block;
	}
	img { 
		display: block;
		max-width: 100%; 
	}
	&.slick-loading img {
		display: none;
	}
	&.dragging img {
		pointer-events: none;
	}
}
[dir='rtl'] .slick-slide {
	float: right;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slider_out {
	position: relative;
}
.slick-arrow {
	width: 24px;
	height: 40px;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	@extend .trans;
	border: none ;
	outline: none ;
	overflow: hidden;
	padding: 0;
	text-align: center;
	&.slick-prev {
		left: -20px;
	}
	&.slick-next {
		right: -20px;
	}
	i {
		font-size: 40px;
		margin-left: -8px;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}

.slick-dots {
	@extend %display_flex;
	@extend %flex_row;
	@extend %flex_nowrap;
	@extend %flex_justify_content_center;
	@extend %flex_align_items_center;
	@extend %flex_align_content_center;
	width: 100% ;
	text-align: center;
	list-style: none;
	li {
		display: inline-block;
		margin: 0 4px;
		&.slick-active {
			button {
				background: $black;
			}
		}
		button {
			display: block;
			width: 9px;
			height: 9px;
			background: $white;
			@extend .trans;
			border: 2px solid $black;
			outline: none;
			padding: 0;
			overflow: hidden;
			text-indent: -9999px ;
			@include rad(50%);
		}
	}
}