doctype html
html
	include common/head.pug
	body
		#wrapper
			include common/header.pug

			include common/footer.pug
		include common/popups.pug
	
	script(src="/js/vendor/vendor.js")
	script(src="/js/app.js")