.btn-main {
	@extend %display_flex;
	@extend %flex_row;
	@extend %flex_nowrap;
	@extend %flex_justify_content_center;
	@extend %flex_align_items_center;
	@extend %flex_align_content_center;
	padding: 0 40px;
	font-size: 13px;
	line-height: 40px;
	font-weight: 500;
	color: $white;
	text-transform: uppercase;
	background: $black;
	@include rad(25px);
	-webkit-box-shadow: 0 6px 12px rgba($black,0.36);
			box-shadow: 0 6px 12px rgba($black,0.36);
	box-sizing: border-box;
	@media #{$break_max_1200} {
		font-size: 12px;
	}
	@media #{$break_max_400} {
		width: 100% !important;
	}
	&:hover {
		-webkit-box-shadow: 7px -7px 0px rgba($black, 0.2),-7px 7px 0px rgba($black, 0.2);
		        box-shadow: 7px -7px 0px rgba($black, 0.2),-7px 7px 0px rgba($black, 0.2);
	}
}
.btn-border {
	@extend %display_flex;
	@extend %flex_row;
	@extend %flex_nowrap;
	@extend %flex_justify_content_center;
	@extend %flex_align_items_center;
	@extend %flex_align_content_center;
	width: 240px;
	height: 54px;
	line-height: 54px;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	color: $white;
	text-transform: uppercase;
	border: 2px solid $black;
	-webkit-box-shadow: 0 6px 12px rgba($black,0.36);
	        box-shadow: 0 6px 12px rgba($black,0.36);
	@include rad(27px);
	@media #{$break_max_400} {
		width: 100% !important;
	}
	&:hover {
		-webkit-box-shadow: 7px -7px 0px rgba($black, 0.2),-7px 7px 0px rgba($black, 0.2);
		        box-shadow: 7px -7px 0px rgba($black, 0.2),-7px 7px 0px rgba($black, 0.2);
	}
}
.btn-reveal {
	display: none;
	width: 50px;
	height: 50px;
	background-color: $white;
	border-radius: 50%;
	position: relative;

	.btn-reveal__line,
	.btn-reveal__line:before,
	.btn-reveal__line:after {
		width: 20px;
		height: 2px;
		background-color: $black;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -10px;
		margin-top: -1px;
		transition: .5s;
	}
	.btn-reveal__line:before,
	.btn-reveal__line:after {
		content: '';
		transition: .5s;
	}
	.btn-reveal__line:before {
		transform: translateY(-5px);
	}
	.btn-reveal__line:after {
		transform: translateY(5px);
	}

	&.active {
		border-radius: 50% 50% 0 0;
		.btn-reveal__line {
			//transform: rotate(-450deg);
			background-color: $black;
			transform: rotate(45deg);
			&:before {
				transform-origin: left bottom;
				/*transform: rotate(-35deg);						
				width: 13px;*/
				transform: rotate(90deg);
				width: 22px;
				left: 19px;
				top: -11px;
				background-color: $black;
			}
			&:after {
				transform: rotate(35deg);
				transform-origin: left top;
				width: 0px;
				background-color: $black;
			}
		}
	}

	@media #{$break_max_840} {
		display: block;
	}
}

button, a {
	outline: none;
	cursor: pointer;
	@extend .trans;
}

a:disabled, a.disabled,
button:disabled, button.disabled {
	opacity: 0.7;
	cursor: default;
	pointer-events: none;
	&:before {
		display: none;
	}
}

@keyframes pulse1 {
	from {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes pulse2 {
	0%, 100% {
		-webkit-box-shadow: 0 6px 12px rgba($black,0.36);
		        box-shadow: 0 6px 12px rgba($black,0.36);
	}
	50% {
		-webkit-box-shadow: 0 0 20px rgba($black,0.5);
		        box-shadow: 0 0 20px rgba($black,0.5);
	}
}
/*  animation: pulse2 2s linear infinite;  */