$black : #000;
$white : #FFF;

%animated_gradient_1 {
	//background: linear-gradient(-45deg, #5e04bb, #8712ff, #8b3fb5, #a654d3);

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5e04bb+0,8712ff+33,8b3fb5+66,a654d3+100 */
	background: #5e04bb; /* Old browsers */
	background: -webkit-linear-gradient(-45deg,  #5e04bb,#8712ff,#8b3fb5,#a654d3); /* Chrome10-25,Safari5.1-6 */
	background: -moz-linear-gradient(-45deg,  #5e04bb,#8712ff,#8b3fb5,#a654d3); /* FF3.6-15 */
	background: linear-gradient(135deg,  #5e04bb,#8712ff,#8b3fb5,#a654d3); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e04bb', endColorstr='#a654d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
/*	@extend %animated_gradient_1	*/


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}