$break_max_400:   "only screen and (max-width : 400px)"; 
$break_max_568:   "only screen and (max-width : 567px)";
$break_max_768:   "only screen and (max-width : 767px)";
$break_max_840:   "only screen and (max-width : 840px)";
$break_max_960:   "only screen and (max-width : 960px)";
$break_max_1200:  "only screen and (max-width : 1200px)";
$break_max_1440:  "only screen and (max-width : 1440px)";
$break_max_1600:  "only screen and (max-width : 1599px)";
$break_max_1800:  "only screen and (max-width : 1800px)";

// $font_gotham : 'Gotham Pro';
// 300 normal 500 bold 900

// $font_gotham_narrow : 'Gotham Pro Narrow';
// 500 bold

// $font_futura : 'a_FuturaRound';

body {
	background: $white;
	font-family: $font_gotham;
	font-size: 18px;
	line-height: 1;
	font-weight: normal;
	color: $black;
	
	@media #{$break_max_1800} {}
	@media #{$break_max_1600} {}
	@media #{$break_max_1440} {}
	@media #{$break_max_1200} {}
	@media #{$break_max_960} {}
	@media #{$break_max_840} {}
	@media #{$break_max_768} {}
	@media #{$break_max_568} {}
	@media #{$break_max_400} {}
}
#wrapper {
	margin: 0 auto;
	position: relative;
}
.container {
	width: 1440px;
	position: relative;

	@media #{$break_max_1600} {width: 90%;}
}

p {
	max-height: 9999px;
}
::selection {
	background: rgba($black, 0.7);
	color: $white;
}
::-moz-selection {
	background: rgba($black, 0.7);
	color: $white;
}
