/*	@extend %display_flex	*/

%display_flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/* flex-direction */
%flex_row {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
%flex_row_reverse {
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
%flex_column {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
%flex_column_reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

/* flex-wrap */
%flex_wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
%flex_nowrap {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
%flex_wrap_reverse {
	-webkit-flex-wrap: wrap-reverse;
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

/* justify-content */
%flex_justify_content_start {
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
%flex_justify_content_end {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
%flex_justify_content_center {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
%flex_justify_content_spacebetween {
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
%flex_justify_content_spacearound {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

/* align-items */
%flex_align_items_start {
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
%flex_align_items_end {
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}
%flex_align_items_center {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
%flex_align_items_baseline {
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}
%flex_align_items_stretch {
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

/* align-content */
%flex_align_content_start {
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}
%flex_align_content_end {
	-webkit-align-content: flex-end;
	-ms-flex-line-pack: end;
	align-content: flex-end;
}
%flex_align_content_center {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}
%flex_align_content_spacebetween {
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
}
%flex_align_content_spacearound {
	-webkit-align-content: space-around;
	-ms-flex-line-pack: distribute;
	align-content: space-around;
}
%flex_align_content_stretch {
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}

%stretch_items_in_row {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}
/*	@extend %stretch_items_in_row	*/