input[type="text"], input[type="name"], input[type="date"], input[type="email"], input[type="password"], input[type="file"], input[type="search"], input[type="tel"], input[type="number"], input[type="url"], 
textarea,
select {
	outline: none;
	border: 1px solid $black;
	@include rad(4px);
	@extend .trans;
	@include placeholder(rgba($black,0.5));
	font-family: $font_gotham;
	&:active, &:focus {
		border-color: $black;
	}
}

input[type="text"], input[type="name"], input[type="date"], input[type="email"], input[type="password"], input[type="file"], input[type="search"], input[type="tel"], input[type="number"], input[type="url"]
textarea {
	overflow: hidden;
	resize: none;
}
select {}

.check-out {
	padding: 10px 0 0 0;
}
input[type="checkbox"] {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	+ label {
		display: block;
		font-size: 16px;
		line-height: 20px;
		cursor: pointer;
		position: relative;
		padding-left: 30px;
		&:before, &:after {
			content: "" ;
			position: absolute;
			//background: url("../images/checkbox.jpg");
			width: 20px;
			height: 20px;
			left: 0;
			top: 50%;
			margin-top: -10px;
			@extend .trans;
		}
		&:before {
			background-position: 0 0;
		}
		&:after {
			background-position: -20px 0;
			opacity: 0;
		}
	}
	&:checked {
		+ label {
			&:after {
				opacity: 1;
			}
		}
	}
}