.col-1-5 {width: 20%;}
.col-1-4 {width: 25%;}
.col-1-3 {width: 33.33%;}
.col-1-2 {width: 50%;}
.col-2-3 {width: 66.66%;}
.p_0 {padding: 0px;}
.p_5 {padding: 5px;}
.p_10 {padding: 10px;}
.p_15 {padding: 15px;}
.p_20 {padding: 20px;}
.p_t_0 {padding-top: 0px;}
.p_t_5 {padding-top: 5px;}
.p_t_10 {padding-top: 10px;}
.p_t_15 {padding-top: 15px;}
.p_t_20 {padding-top: 20px;}
.p_b_0 {padding-bottom: 0px;}
.p_b_5 {padding-bottom: 5px;}
.p_b_10 {padding-bottom: 10px;}
.p_b_15 {padding-bottom: 15px;}
.p_b_20 {padding-bottom: 20px;}
.p_l_0 {padding-left: 0px;}
.p_l_5 {padding-left: 5px;}
.p_l_10 {padding-left: 10px;}
.p_l_15 {padding-left: 15px;}
.p_l_20 {padding-left: 20px;}
.p_r_0 {padding-right: 0px;}
.p_r_5 {padding-right: 5px;}
.p_r_10 {padding-right: 10px;}
.p_r_15 {padding-right: 15px;}
.p_r_20 {padding-right: 20px;}