@mixin rad($val) {
	-moz-border-radius: $val;
	-webkit-border-radius: $val;
	-khtml-border-radius: $val;
	border-radius: $val;
}
/*	@include rad(25px)	*/
@mixin rotate($val) {
	-webkit-transform: rotate($val);
	-moz-transform: rotate($val);
	-ms-transform: rotate($val);
	-o-transform: rotate($val);
	transform: rotate($val);
}
/*	+rotate(45deg)	*/
@mixin placeholder($clr) {
	&::-webkit-input-placeholder {color: $clr;}
	&::-moz-placeholder {color: $clr;}
	&:-ms-input-placeholder {color: $clr;}
	&:-moz-placeholder {color: $clr;}
}
/*	+placeholder(#FFF)	*/
@mixin placeholder-font-style($font-style) {
	&::-webkit-input-placeholder {font-style: ($font-style);}
	&::-moz-placeholder {font-style: ($font-style);}
	&:-ms-input-placeholder {font-style: ($font-style);}
	&:-moz-placeholder {font-style: ($font-style);}
}
/*	+placeholder-font-style($italic)	*/
.trans {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
/*	@extend .trans	*/