//@extend-elements
//original selectors
//abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video
%extend_1 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	-moz-padding-start: 0;
	-moz-padding-end: 0;
}


abbr {
	@extend %extend_1;
	border: 0;
}
address {
	@extend %extend_1;
}
article {
	@extend %extend_1;
	display: block;
}
aside {
	@extend %extend_1;
	display: block;
}
audio {
	@extend %extend_1;
	display: inline-block;
}
b {
	@extend %extend_1;
}
blockquote {
	@extend %extend_1;
}
body {
	@extend %extend_1;
}
canvas {
	@extend %extend_1;
	display: inline-block;
}
caption {
	@extend %extend_1;
}
cite {
	@extend %extend_1;
}
code {
	@extend %extend_1;
	font-family: 'monospace', 'serif';
	font-size: 1em;
}
dd {
	@extend %extend_1;
}
del {
	@extend %extend_1;
}
details {
	@extend %extend_1;
	display: block;
}
dfn {
	@extend %extend_1;
}
div {
	@extend %extend_1;
}
dl {
	@extend %extend_1;
}
dt {
	@extend %extend_1;
}
em {
	@extend %extend_1;
}
fieldset {
	@extend %extend_1;
	border: 0;
}
figcaption {
	@extend %extend_1;
	display: block;
}
figure {
	@extend %extend_1;
	display: block;
}
footer {
	@extend %extend_1;
	display: block;
}
form {
	@extend %extend_1;
}
h1 {
	@extend %extend_1;
}
h2 {
	@extend %extend_1;
}
h3 {
	@extend %extend_1;
}
h4 {
	@extend %extend_1;
}
h5 {
	@extend %extend_1;
}
h6 {
	@extend %extend_1;
}
header {
	@extend %extend_1;
	display: block;
}
hgroup {
	@extend %extend_1;
	display: block;
}
html {
	@extend %extend_1;
	font-family: 'sans-serif';
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	input[type=button] {
		-webkit-appearance: button;
		cursor: pointer;
	}
	input[disabled] {
		cursor: default;
	}
}
i {
	@extend %extend_1;
}
iframe {
	@extend %extend_1;
}
img {
	@extend %extend_1;
	border: 0;
}
ins {
	@extend %extend_1;
}
kbd {
	@extend %extend_1;
	font-family: 'monospace', 'serif';
	font-size: 1em;
}
label {
	@extend %extend_1;
}
legend {
	@extend %extend_1;
	border: 0;
}
li {
	@extend %extend_1;
}
mark {
	@extend %extend_1;
}
menu {
	@extend %extend_1;
}
nav {
	@extend %extend_1;
	display: block;
}
object {
	@extend %extend_1;
}
ol {
	@extend %extend_1;
}
p {
	@extend %extend_1;
}
pre {
	@extend %extend_1;
	font-family: 'monospace', 'serif';
	font-size: 1em;
}
q {
	@extend %extend_1;
}
samp {
	@extend %extend_1;
	font-family: 'monospace', 'serif';
	font-size: 1em;
}
section {
	@extend %extend_1;
	display: block;
}
small {
	@extend %extend_1;
	font-size: 80%;
}
span {
	@extend %extend_1;
}
strong {
	@extend %extend_1;
}
sub {
	@extend %extend_1;
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}
summary {
	@extend %extend_1;
	display: block;
}
sup {
	@extend %extend_1;
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}
table {
	@extend %extend_1;
	border-spacing: 0;
	border-collapse: collapse;
}
tbody {
	@extend %extend_1;
}
td {
	@extend %extend_1;
}
tfoot {
	@extend %extend_1;
}
th {
	@extend %extend_1;
}
thead {
	@extend %extend_1;
}
time {
	@extend %extend_1;
}
tr {
	@extend %extend_1;
}
ul {
	@extend %extend_1;
}
var {
	@extend %extend_1;
}
video {
	@extend %extend_1;
	display: inline-block;
}
acronym {
	border: 0;
}
main {
	display: block;
}
[hidden] {
	display: none;
}
a {
	color: inherit;
	&:active {
		outline: 0;
	}
	&:focus {
		outline: 0;
	}
	&:hover {
		outline: 0;
	}
	img {
		border: none;
	}
}
button {
	font-family: inherit;
	-webkit-appearance: button;
	cursor: pointer;
	&:active {
		outline: 0;
	}
	&:focus {
		outline: 0;
	}
	&:hover {
		outline: 0;
	}
}
input {
	font-family: inherit;
}
select {
	font-family: inherit;
}
textarea {
	font-family: inherit;
}
input[type=reset] {
	-webkit-appearance: button;
	cursor: pointer;
}
input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled] {
	cursor: default;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
:link {
	text-decoration: none;
	img {
		border: none;
	}
}
:visited {
	text-decoration: none;
	img {
		border: none;
	}
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0;
}