h1, h2, h3, h4, h5, h6 {
	font-family: $font_gotham;
	font-weight: normal ;
	a {
		color: $black;
		&:hover {
			opacity: 0.7;
		}
	}
}

h1 {
	font-size: 54px;
	font-weight: bold;
	@media #{$break_max_1200} {font-size: 40px;}
	@media #{$break_max_960} {font-size: 34px;}
	@media #{$break_max_400} {font-size: 28px;}
	span {
		display: block;
		font-size: 48px;
		font-weight: 300;
		@media #{$break_max_1200} {font-size: 36px;}
		@media #{$break_max_400} {font-size: 20px;}
	}
}
h2 {
	font-size: 48px;
	font-weight: bold;
	@media #{$break_max_1200} {font-size: 38px;}
	@media #{$break_max_400} {font-size: 30px;}
	span {
		color: $black;
	}
}
h3 {
	font-size: 36px;
	@media #{$break_max_1200} {font-size: 30px;}
	@media #{$break_max_768} {font-size: 25px;}
	span {
		font-weight: bold;
		color: $black;
	}
	@media #{$break_max_1600} {}
	@media #{$break_max_960} {}
}
h4 {
	font-size: 30px;
	font-weight: bold;
	@media #{$break_max_1200} {font-size: 26px;}
	span {
		color: $black;
	}
	@media #{$break_max_1600} {}
	@media #{$break_max_960} {}
}
h5 {
	font-size: 24px;
	@media #{$break_max_1200} {font-size: 20px;}
	span {
		font-weight: bold;
		color: $black;
	}
	small {
		display: block;
		font-size: 21px;
		font-weight: normal;
		@media #{$break_max_1200} {font-size: 14px;}
	}
	@media #{$break_max_1600} {}
	@media #{$break_max_960} {}
}
h6 {
	font-size: 16px;
	font-weight: bold;
	color: $black;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	@media #{$break_max_1200} {font-size: 14px;}
	@media #{$break_max_960} {}
	@media #{$break_max_768} {line-height: 1.3;}
}

mark {
	padding: 0 5px 
}
small {
	font-size: 0.75em
}
strong, b {}
em, i {}
cite {}

blockquote {
	footer {}
}

ul {}
ol {}
table {
	tr {
		th {}
		td {}
	}
}
