header {
	height: 80px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 998;
	@extend .trans;
	background: $white;
	//border-bottom: 1px solid $violet1;
	-webkit-box-shadow: 0 2px 4px rgba(185, 94, 1, 0.12);
	        box-shadow: 0 2px 4px rgba(185, 94, 1, 0.12);
	&.nav-down {top: 0;}
	&.nav-up {top: -84px;}
	.container {
		@extend %display_flex;
		@extend %flex_row;
		@extend %flex_nowrap;
		@extend %flex_justify_content_spacebetween;
		@extend %flex_align_items_center;
		@extend %flex_align_content_spacebetween;
	}
}