#popup_subscribe(style='display: none;')
	.form_out
		h4 Subscribe for more information
		form(action="")
			input(type="email" name="subscribe__pre_footer__email" placeholder="E-mail")
			button.btn_main(type="submit" value="Subscribe") Subscribe

#popup_subscribe_thanx(style='display: none;')
	.inn
		h3 Thanks!
		p You’re subscribed!<br>Expect some great e-mails very soon.